<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Магазин</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <a href="" class="header__logo"></a>
        <nav class="header__menu">
            <ul class="header__list">
                <li><a href="/" class="header__link">Главная</a></li>
                <li><a href="/profile" class="header__link">Профиль</a></li>
                <li><a href="/payment" class="header__link">Пополнить счёт</a></li>
                <li><a href="/login" class="header__link">Войти</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <aside class="sidebar">
            <nav class="sidebar__menu">
                <ul class="sidebar__list">
                    <li class="sidebar__link">Пункты магазина</li>
                    <li><a href="/shop?type=all" class="sidebar__link">Все товары</a></li>
                    <li><a href="/shop?type=ssd" class="sidebar__link">SSD</a></li>
                    <li><a href="/shop?type=hdd" class="sidebar__link">HDD</a></li>
                    <li><a href="/shop?type=motherboard" class="sidebar__link">Motherboard</a></li>
                    <li><a href="/shop?type=memory" class="sidebar__link">Memory</a></li>
                    <li><a href="/shop?type=cpu" class="sidebar__link">CPU</a></li>
                    <li><a href="/shop?type=video" class="sidebar__link">Video Card</a></li>
                    <li><a href="/shop?type=ethernet" class="sidebar__link">Ethernet Card</a></li>
                </ul>
            </nav>
        </aside>
        <section class="content">
            <h1>Описание товара</h1>
            <div class="show__content">
                <div class="show__item item__image">
                    <img th:src="${component.image}">
                </div>
                <div th:if="${user}" class="show__item">
                    <form id="addcart" th:method="post" th:action="@{/cart/{id}(id=${component.id}, amount=${amount})}">
                        <input type="text" th:field="*{amount}">
                    </form>
                    <button type="submit" form="addcart">В корзину</button>
                </div>
                <div class="show__item">
                    <p th:text="${'Component name: ' + component.name}"></p>
                    <p th:text="${'Component description: ' + component.description}"></p>
                    <p th:text="${'Component price: ' + component.cost}"></p>
                    <p th:text="${'Type: ' + component.type.name()}"></p>
                    <p th:text="${'On stock: ' + component.amountOnStock}"></p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__copy">Copy, 2021</div>
        <div class="footer__text">Lorem ipsum dolor sit amet.</div>
    </footer>
</div>
</body>
</html>